<section id="contacto" class="snap-start contact pt-20 overflow-hidden">
  <div class="container contacto_container relative">
    <div
      class="relative flex items-center justify-center w-full h-auto sm:py-10 py-5 sm:mb-0 mb-5"
    >
      <h2
        class="2xl:text-[250px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-9xl movil:text-8xl text-7xl font-extra-bold text-dark/[0.1] sm:text-dark/[0.1] text-center relative z-30"
      >
        CONTACTO
      </h2>
    </div>
    <div
      class="gap-y-20 flex flex-col lg:grid lg:grid-flow-row-dense lg:grid-cols-11"
    >
      <div
        class="pt-8 pb-1 px-4 sm:px-8 col-span-6 lining-nums form_box rounded-2xl shadow-xl"
      >
        <form id="form" class="w-full">
          <div class="flex flex-col gap-8 font-regular">
            <h3 class="text-3xl sm:text-5xl text-light font-bold">
              Contanos tu Problema en Detalle
            </h3>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="nombre">Nombre</label>
              <input
                class="input lining-nums h-10 rounded-lg px-2 bg-slate-200 border-[1px] text-dark"
                name="nombre"
                id="nombre"
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="telefono"
                >Telefono</label
              >
              <input
                class="input lining-nums h-10 rounded-lg px-2 bg-slate-200 border-[1px] text-dark"
                name="telefono"
                id="telefono"
                type="tel"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="email">Email</label>
              <input
                class="input lining-nums h-10 rounded-lg px-2 bg-slate-200 border-[1px] text-dark"
                name="email"
                id="email"
                type="email"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="marca">Marca</label>
              <input
                class="input lining-nums h-10 rounded-lg px-2 bg-slate-200 border-[1px] text-dark"
                name="marca"
                id="marca"
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="modelo">Modelo</label>
              <input
                class="input lining-nums h-10 rounded-lg px-2 bg-slate-200 border-[1px] text-dark"
                name="modelo"
                id="modelo"
                type="text"
              />
            </div>
            <div class="flex flex-col gap-2">
              <label class="text-light font-medium" for="mensaje">Mensaje</label
              >
              <textarea
                class="input lining-nums h-36 rounded-lg bg-slate-200 p-2 text-dark"
                name="mensaje"
                id="mensaje"></textarea>
            </div>
            <div class="">
              <button
                class="bg-dark py-4 sm:w-auto w-full sm:px-36 rounded-lg font-bold text-xl hover:scale-105 hover:bg-light hover:text-dark transition-all"
                type="submit"
                id="btnEnviarForm"
                value="Enviar"
                aria-roledescription="Enviar Formulario"
                name="Enviar Formulario">Enviar</button
              >
              <div class="enviado mt-2 font-regular text-xl" id="enviado">
                <span>Enviando Mensaje....</span>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div
        class="grid col-span-5 grid-flow-row auto-rows-max items-center justify-center gap-8 p-8 font-regular lining-nums text-[#777777]"
      >
        <article class="flex flex-col gap-3 sm:gap-5">
          <div class="flex flex-row gap-5 items-center">
            <img class="w-8 sm:w-10 h-auto" src="./email_icon.svg" alt="" />
            <h4 class="text-xl sm:text-2xl font-medium">Escribinos al Mail</h4>
          </div>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:laboratorio@imset.com.ar"
            class="text-base sm:text-lg ml-14 sm:ml-16 hover:underline decoration-pink-500 hover:scale-105 transition-all cursor-pointer"
            >laboratorio@imset.com.ar</a
          >
        </article>
        <svg
          class="w-full"
          width="400"
          height="2"
          viewBox="0 0 400 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="1.34229" x2="400" y2="1.34229" stroke="#D8DEEE"></line>
        </svg>
        <article class="flex flex-col gap-3 sm:gap-5">
          <div class="flex flex-row gap-5 items-center">
            <img class="w-8 sm:w-10 h-auto" src="./whatsapp_icon.svg" alt="" />
            <h4 class="text-xl sm:text-2xl font-medium">Chatea con Nosotros</h4>
          </div>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://wa.me/+543513046591"
            class="text-base sm:text-lg ml-14 sm:ml-16 hover:underline decoration-pink-500 hover:scale-105 transition-all cursor-pointer">351 304 6591</a
          >
        </article>
        <svg
          class="w-full"
          width="400"
          height="2"
          viewBox="0 0 400 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="1.34229" x2="400" y2="1.34229" stroke="#D8DEEE"></line>
        </svg>
        <article class="flex flex-col gap-3 sm:gap-5">
          <div class="flex flex-row gap-5 items-center">
            <img class="w-8 sm:w-10 h-auto" src="./telefono_icon.svg" alt="" />
            <h4 class="text-xl sm:text-2xl font-medium">Llamanos</h4>
          </div>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="tel:+54351153046591"
            class="text-base sm:text-lg ml-14 sm:ml-16 hover:underline decoration-pink-500 hover:scale-105 transition-all cursor-pointer">351 304 6591</a
          >
        </article>
        <svg
          class="w-full"
          width="400"
          height="2"
          viewBox="0 0 400 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="1.34229" x2="400" y2="1.34229" stroke="#D8DEEE"></line>
        </svg>
        <article class="flex flex-col gap-1 sm:gap-3">
          <div class="flex flex-row gap-5 items-center">
            <img
              class="w-8 sm:w-10 h-auto"
              src="./pointer_map_icon.svg"
              alt=""
            />
            <h4 class="text-xl sm:text-2xl font-medium">Visitanos</h4>
          </div>
          <div class="flex flex-col gap-1 sm:gap-2 ml-14 sm:ml-16">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://goo.gl/maps/5jQzwxDHexB9thuJ6?coh=178572&entry=tt"
              class="text-base sm:text-lg hover:underline decoration-pink-500 hover:scale-105 transition-all cursor-pointer">La Rioja 590, Córdoba Capital</a
            >
            <p class="text-base sm:text-lg">Lunes a Viernes 9 a 17</p>
          </div>
        </article>
        <svg
          class="w-full"
          width="400"
          height="2"
          viewBox="0 0 400 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line y1="1.34229" x2="400" y2="1.34229" stroke="#D8DEEE"></line>
        </svg>
        <article class="flex flex-row gap-3 items-center sm:gap-3">
          <img class="w-8 sm:w-10 h-auto" src="./garantias.svg" alt="" />
          <a target="_blank"
          rel="noopener noreferrer" href="garantias" class="hover:scale-105 p-3 hover:bg-slate-100 hover:shadow-2xl rounded-2xl transition-all cursor-pointer">
            <div
              class="flex items-center gap-2 text-xl sm:text-2xl font-medium text-[#777777]"
            >
              Nuestras Garantias
              <svg
                class="w-3 sm:w-4 h-auto opacity-75"
                width="35"
                height="35"
                viewBox="0 0 35 35"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M23.875 2.375H32.625V11.125M30.75 4.25L21.375 13.625M17.625 4.875H6.375C5.38044 4.875 4.42661 5.27009 3.72335 5.97335C3.02009 6.67661 2.625 7.63044 2.625 8.625V28.625C2.625 29.6196 3.02009 30.5734 3.72335 31.2767C4.42661 31.9799 5.38044 32.375 6.375 32.375H26.375C27.3696 32.375 28.3234 31.9799 29.0267 31.2767C29.7299 30.5734 30.125 29.6196 30.125 28.625V17.375"
                  stroke="#777777"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </div>
          </a>
        </article>

        <article class="flex flex-row gap-20 mt-5 justify-center items-center">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.facebook.com/IMSETLAB/"
            class="hover:scale-105 p-3 hover:bg-slate-100 hover:shadow-2xl rounded-full transition-all"
          >
            <img class="w-12 h-auto" src="./facebook_icon.svg" alt="" />
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/imsetlab/"
            class="hover:scale-105 p-3 hover:bg-slate-100 hover:shadow-2xl rounded-full transition-all"
          >
            <img class="w-12 h-auto" src="./instagram_icon.svg" alt="" />
          </a>
        </article>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center sm:justify-end w-full mt-10">
    <a
      href="http://uncoder.com.ar"
      class="py-4 px-10 text-center font-medium text-slate-400"
      target="_blank"
      rel="noopener noreferrer">Diseñado por unCoder</a
    >
  </div>
</section>
<style>
  section.contact {
    background: rgb(233, 239, 255);
    background: linear-gradient(
      135deg,
      rgba(233, 239, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .form_box {
    background: rgb(148, 255, 229);
    background: linear-gradient(
      120deg,
      rgba(16, 103, 104, 0.9) 0%,
      rgba(148, 255, 229, 0.6) 100%
    );
  }
  .enviado {
    visibility: hidden;
    color: white;
    background-color: green;
    border-radius: 10px;
    text-align: center;
  }
  .enviado.error,
  .enviado.vacio {
    background-color: red;
    visibility: visible;
  }
  .enviado.sended {
    background-color: greenyellow;
    color: black;
    visibility: visible;
  }
  .enviado.error span {
    color: black;
  }
</style>

<script>
  const formulario = document.getElementById("form");
  const respuesta = document.getElementById("enviado");
  let btnEnviarForm = document.getElementById("btnEnviarForm");

  function enable__form() {
    btnEnviarForm.disabled = false;
    setTimeout(() => {
      respuesta.style.visibility = "hidden";
    }, 10000);
  }
  formulario.addEventListener("submit", function (e) {
    respuesta.innerHTML = "<span>Enviando Mensaje....</span>";
    respuesta.style.visibility = "visible";
    e.preventDefault();
    btnEnviarForm.disabled = true;
    var datos = new FormData(formulario);
    fetch("./php/post.php", {
      method: "POST",
      body: datos,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data === "error") {
          respuesta.innerHTML =
            "<span>Hubo un error, intente nuevamente</span>";
          respuesta.classList.add("error");
          enable__form();
          setTimeout(() => {
            respuesta.classList.remove("error");
          }, 10000);
        }
        if (data === "vacio") {
          respuesta.innerHTML = "<span>* Rellene todos los campos</span>";
          respuesta.classList.add("vacio");
          enable__form();
          setTimeout(() => {
            respuesta.classList.remove("vacio");
          }, 10000);
        }
        if (data === "enviado") {
          respuesta.innerHTML = "<span>Mensaje Recibido</span>";
          respuesta.classList.add("sended");
          formulario.reset();
          enable__form();
          setTimeout(() => {
            respuesta.classList.remove("sended");
          }, 10000);
        }
      })
      .catch((err) => {
        respuesta.innerHTML =
          "<span>Hay fallas en el envio, intente por otra via de contacto</span>";
        respuesta.classList.add("error");
        enable__form();
        setTimeout(() => {
          respuesta.classList.remove("error");
        }, 10000);
      });
  });
</script>
