<section
      id="pagos"
      class="min-h-screen overflow-x-hidden py-11"
    >
      <div
        class="container relative flex flex-col justify-center items-center font-regular gap-16"
      >
        <div
          class="relative flex items-center justify-center w-full h-auto py-5 sm:mb-0 mb-5"
        >
          <h2
            class="2xl:text-[250px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-8xl text-6xl font-extra-bold text-dark/[0.3] sm:text-dark/[0.1] text-center relative z-30"
          >
            GARANTIAS
          </h2>
        </div>
        <article class="w-full text-left flex flex-col gap-10 max-w-prose">
          <h3 class="xl:text-7xl lg:text-6xl sm:text-5xl text-4xl font-bold">
            Garantía de Productos
          </h3>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              Período de Garantía
            </h4>
            <p class="sm:text-lg text-base max-w-prose">
              El producto cuenta con 90 (noventa) días corridos de garantía a
              partir de la fecha de compra. El artículo deberá ser devuelto en
              iguales condiciones quedando sujeto a revisión y aprobación por
              parte del personal técnico de IMSET.
            </p>
          </div>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              ¿Que cubre la Garantía?
            </h4>
            <p class="sm:text-lg text-base max-w-prose">
              IMSET ofrece garantía de cobertura ante defectos de fábrica y/o
              mal funcionamiento de los productos.
            </p>
          </div>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              ¿Que no cubre la Garantía? (Serán causa de anulación de la
              garantía)
            </h4>
            <ol
              class="lining-nums list-inside w-full flex flex-col gap-3 max-w-prose list-decimal"
            >
              <li class="sm:text-lg text-base">
                Uso inapropiado o distinto al uso doméstico.
              </li>
              <li class="sm:text-lg text-base">
                Exceso o caída de tensión eléctrica que implique uso en
                condiciones anormales.
              </li>
              <li class="sm:text-lg text-base">
                Intervención de cualquier tipo o apertura del equipo por
                personal no autorizado por IMSET.
              </li>
              <li class="sm:text-lg text-base">
                Producto alterado o modificado en alguna de sus partes.
              </li>
              <li class="sm:text-lg text-base">
                Falta de accesorios, caja original y/o manuales. El producto
                debe ser entregado junto a todos sus accesorios
              </li>
              <li class="sm:text-lg text-base">
                Roturas, golpes, rayaduras, caídas o accidentes de cualquier
                índole.
              </li>
              <li class="sm:text-lg text-base">
                Daños ocasionados por otros equipos o accesorios interconectados
                y/o adosados al producto.
              </li>
              <li class="sm:text-lg text-base">
                Daños ocasionados por conexiones externas derivadas de la
                instalación.
              </li>
            </ol>
          </div>
        </article>
        <article
          class="mt-10 text-left w-full flex flex-col gap-10 max-w-prose"
        >
          <h3 class="xl:text-7xl lg:text-6xl sm:text-5xl text-4xl font-bold">
            Garantía de Servicios
          </h3>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              Período de Garantía
            </h4>
            <p class="sm:text-lg text-base max-w-prose">
              Los servicios técnicos y materiales utilizados, cuentan con 90
              (noventa) días corridos de garantía a partir de la fecha de
              entrega del equipo.
            </p>
          </div>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              ¿Que cubre la Garantía?
            </h4>
            <p class="sm:text-lg text-base max-w-prose">
              IMSET ofrece garantía de cobertura ante reincidencias en la misma
              falla inicial.
            </p>
          </div>
          <div class="flex flex-col gap-3">
            <h4 class="font-medium text-2xl md:text-3xl">
              ¿Que no cubre la Garantía? (Serán causa de anulación de la
              garantía)
            </h4>
            <ol
              class="list-inside lining-nums w-full flex flex-col gap-3 max-w-prose list-decimal"
            >
              <li class="sm:text-lg text-base">
                Uso inapropiado o distinto al uso doméstico.
              </li>
              <li class="sm:text-lg text-base">
                Exceso o caída de tensión electrica que implique uso en
                condiciones anormales.
              </li>
              <li class="sm:text-lg text-base">
                Intervención de cualquier tipo o apertura del equipo por
                personal no autorizado por IMSET.
              </li>
              <li class="sm:text-lg text-base">
                Producto alterado o modificado en alguna de sus partes.
              </li>
              <li class="sm:text-lg text-base">
                Daños ocasionados por conexiones externas derivadas de la
                instalacion.
              </li>
              <li class="sm:text-lg text-base">
                Roturas, golpes, rayaduras, caidas o accidentes de cualquier
                índole.
              </li>
              <li class="sm:text-lg text-base">
                Daños ocasionados por otros equipos o accesorios interconectados
                y/o adosados al producto.
              </li>
              <li class="sm:text-lg text-base">
                Faja de garantía parcial o totalmente dañada.
              </li>
              <li class="sm:text-lg text-base">
                La garantía de sistema operativo no cubre mal funcionamiento por
                infección de virus o fallas generadas por actualizaciones de
                sistema
              </li>
            </ol>
          </div>
        </article>
        <article class="mt-10 text-left w-full flex flex-col gap-5 max-w-prose">
          <h4 class="text-2xl md:text-3xl font-bold uppercase">IMPORTANTE:</h4>
          <p class="sm:text-lg text-base max-w-prose">
            Para la solicitud de garantía sobre una reparación o producto se
            solicitará SIN EXCEPCIÓN el certificado de garantia entregado
            durante el retiro del equipo reparado, o producto en nuestro local.
          </p>
        </article>
      </div>
    </section>
    <footer class="w-full flex flex-row justify-center items-center py-10">
      <a
        href="../index.html"
        class="font-logo sm:text-3xl text-2xl flex items-center sm:gap-4 gap-2 text-slate-800"
      >
        <img src="./img/logo.png" alt="Logo de Imset" class="sm:w-20 w-16" />
        IMSET
      </a>
    </footer>