<section
  id="nosotros"
  class="snap-start relative sm:pt-44 py-32 min-h-screen overflow-hidden"
>
  <div
    class="absolute -translate-x-[50%] sm:left-2/4 rotate-0 sm:rotate-[7deg] sm:top-[22%] sm:w-full z-10 h-auto w-[330%] left-[192%] top-[3%]"
  >
    <img
      src="./nosotros_img.jpg"
      alt="Foto Real de Oficina de Imset apuntando al Logo"
      class="h-auto w-full object-cover rounded-bl-3xl sm:rounded-none"
    />
  </div>
  <div class="relative text-center w-full h-auto">
    <h2
      class="2xl:text-[250px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-9xl text-6xl font-extra-bold text-light/[0.5] sm:text-light/[0.3] text-center relative z-30"
    >
      NOSOTROS
    </h2>
    <h3
      class="absolute w-full sm:top-1/2 left-1/2 sm:-translate-y-2/4 -translate-x-2/4 z-40 xl:text-7xl lg:text-6xl sm:text-5xl text-4xl font-bold"
    >
      Nuestros Valores
    </h3>
  </div>
  <div
    class="container gap-10 mt-[350px] sm:mt-[450px] lg:mt-[450px] xl:mt-[650px] relative z-40 flex flex-col lg:flex-row items-start"
  >
    <article class="lineaColorNosotros relative p-5">
      <h4 class="font-extra-bold text-2xl mb-4 xl:text-4xl">
        Un poco de Historia
      </h4>
      <p class="sm:text-lg md:text-xl text-base font-regular max-w-[64ch]">
        Tenemos más de 15 años de experiencia en el rubro, pasando por varios
        Servicios Técnicos Oficiales y llegando hasta formar nuestro propio
        negocio, el cual cumple ya 6 años.
        <br />
        <br />
        Contamos con técnicos capacitados y certificados en las soluciones específicas
        que ofrecemos.
      </p>
    </article>
    <article class="lineaColorNosotros relative p-5">
      <h4 class="font-extra-bold text-2xl mb-4 xl:text-4xl">
        Valores de la Empresa
      </h4>
      <p class="sm:text-lg md:text-xl text-base font-regular max-w-[64ch]">
        Proveer un servicio de calidad donde se prioriza la honestidad y
        transparencia.
        <br />
        <br />
        Tomamos la decisión de cambiar el paradigma de lo que uno conoce como servicio
        técnico, brindando la formalidad de un servicio oficial pero con la transparencia
        de un negocio local.
        <br />
        <br />
        Lo más importante para nosotros es brindar garantía y seguridad a todos los
        clientes, anteponiendo sus intereses por encima de las ventas, buscando ofrecer
        la mejor solución para cada caso en particular.
      </p>
    </article>
  </div>
</section>

<style>
  .lineaColorNosotros::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #94ffe5;
    top: 0;
    left: 0;
  }
</style>
