<section id="pagos" class="overflow-x-hidden contact pt-11 pb-24">
  <div
    class="container pagos_container relative flex flex-col justify-center items-center"
  >
    <div
      class="relative flex items-center justify-center w-full h-auto py-5 sm:mb-0 mb-5"
    >
      <h2
        class="2xl:text-[250px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-9xl movil:text-8xl text-7xl font-extra-bold text-dark/[0.3] sm:text-dark/[0.1] text-center relative z-30"
      >
        PAGOS
      </h2>
    </div>
    <div
      class="w-full md:w-max flex lg:flex-row flex-col text-dark lining-nums bg-slate-200 rounded-2xl lg:justify-around lg:gap-32 gap-12 p-8"
    >
      <article class="w-full md:w-max">
        <h3 class="text-left mb-5 font-bold text-2xl uppercase">
          Transferencias Bancarias
        </h3>
        <ul
          class="font-regular text-left sm:text-lg text-base flex flex-col gap-2"
        >
          <li><strong class="font-medium"> Banco:</strong> Macro</li>
          <li>
            <strong class="font-medium">Titular:</strong> Biondi Ronconi Jonathan
            Luis
          </li>
          <li class="tracking-wide">
            <strong class="font-medium">CBU:</strong> 2850381140094652808068
          </li>
          <li class="tracking-wide">
            <strong class="font-medium">ALIAS:</strong> IMSETLAB
          </li>
          <li class="tracking-wide">
            <strong class="font-medium">CUIT:</strong> 23328619849
          </li>
        </ul>
      </article>
      <article class="flex flex-col items-center justify-start gap-5">
        <h3 class="font-medium sm:text-xl text-lg text-center uppercase">
          Consulta por nuestras promos con Tarjetas de Credito
        </h3>
        <img src="./img/ahora12.webp" class="w-8/12 h-auto" alt="Logo de Ahora 12,Ahora 6 y Ahora 3" />
      </article>
    </div>
  </div>
</section>

<style>
  #pagos {
    background: rgb(233, 239, 255);
    background: linear-gradient(
      135deg,
      rgba(233, 239, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
</style>
