---
const notebookServicios = [
  "Reballing",
  "Bios",
  "Reemplazo de componentes",
  "Cambio de Display, Teclado, Baterias, etc",
  "Actualizacion de Discos y Ram",
  "MicroElectronica",
  "Actualizacion de Windows",
  "Instalaci贸n de Programas",
];
const pcServicios = [
  "Reballing",
  "Bios",
  "Reemplazo de componentes",
  "Actualizacion de Discos y Ram",
  "MicroElectronica",
];
---

<section id="servicios" class="snap-start relative sm:pt-44 pt-32 overflow-hidden pb-20 sm:pb-32">
  <div class="absolute top-0 left-0 w-full z-10">
    <span
      class="overlay_img_servicios absolute top-0 left-0 z-30 w-full lg:aspect-[2/1] sm:aspect-[1/1] aspect-[4/6]"
    ></span>
    <img
      src="./img_servicios.png"
      alt="Tecnico Arreglando una Notebook"
      class="lg:aspect-[2/1] sm:aspect-[1/1] aspect-[4/6] w-full object-cover"
    />
  </div>
  <div
    class="relative flex items-center justify-center w-full h-auto sm:py-10"
  >
    <h2
      class="2xl:text-[250px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-9xl movil:text-8xl text-7xl font-extra-bold text-light/[0.5] sm:text-light/[0.3] text-center relative z-30"
    >
      SERVICIOS
    </h2>
    <h3 class="absolute w-full sm:top-1/2 top-full left-1/2 sm:-translate-y-2/4 -translate-x-2/4 z-40 xl:text-7xl lg:text-6xl sm:text-5xl text-4xl font-bold text-center">
      Que Ofrecemos?
    </h3>
  </div>
  <div class="container grid_servicios relative z-20 xl:mt-60 xl:mb-20 mt-40 xl:grid flex flex-col">
    <article
      class="relative border border-[#363636] rounded-2xl bg-[#2A2A2A]/[0.97] backdrop-blur-sm sm:p-10 p-5 servicio1"
    >
      <div class="flex sm:flex-row flex-col-reverse sm:items-center justify-between sm:gap-5 gap-3">
        <h4
          class="font-extra-bold text-transparent bg-clip-text bg-gradient-to-r from-[#00FFB3] to-accent  2xl:text-7xl xl:text-6xl sm:text-5xl text-3xl"
        >
          Reparaci贸n de Notebooks
        </h4>
        <svg
          class="w-1/3 h-min"
          width="200"
          height="150"
          viewBox="0 0 150 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M125 87.5C131.875 87.5 137.5 81.875 137.5 75V12.5C137.5 5.625 131.875 0 125 0H25C18.125 0 12.5 5.625 12.5 12.5V75C12.5 81.875 18.125 87.5 25 87.5H0V100H150V87.5H125ZM25 12.5H125V75H25V12.5Z"
            fill="#E9EFFF"></path>
        </svg>
      </div>
      <ul class="mt-8 sm:mt-10 lineaColorServicio relative flex flex-col gap-5 p-6">
        {
          notebookServicios.map((item) => (
            <li class="font-regular sm:text-2xl text-base">{item}</li>
          ))
        }
      </ul>
    </article>
    <article
      class="relative border border-[#363636] rounded-2xl bg-[#2A2A2A]/[0.80] sm:p-10 p-5 servicio2"
    >
      <div class="flex flex-col-reverse sm:flex-row items-start sm:items-center justify-between sm:gap-5 gap-3">
        <h4 class="font-extra-bold text-3xl md:text-4xl lg:text-4xl">Reparaci贸n de Monitores</h4>
        <svg
          class="w-1/3 h-min"
          width="110"
          height="100"
          viewBox="0 0 110 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 70H10V10H100M100 0H10C4.45 0 0 4.45 0 10V70C0 72.6522 1.05357 75.1957 2.92893 77.0711C4.8043 78.9464 7.34784 80 10 80H45V90H35V100H75V90H65V80H100C102.652 80 105.196 78.9464 107.071 77.0711C108.946 75.1957 110 72.6522 110 70V10C110 7.34784 108.946 4.8043 107.071 2.92893C105.196 1.05357 102.652 0 100 0Z"
            fill="#E9EFFF"></path>
        </svg>
      </div>
      <ul class="mt-8 sm:mt-5 lineaColorServicio relative flex flex-col gap-5 p-6">
        <li class="font-regular sm:text-lg text-base">MicroElectronica</li>
        <li class="font-regular sm:text-lg text-base">Reemplazo de componentes</li>
      </ul>
    </article>
    <article
      class="relative border border-[#363636] rounded-2xl bg-[#2A2A2A]/[0.60] sm:p-10 p-5 servicio3"
    >
      <div class="flex flex-col-reverse sm:flex-row items-start sm:items-center justify-between sm:gap-5 gap-3">
        <h4 class="font-extra-bold text-3xl md:text-4xl lg:text-4xl">Reparaci贸n de PC Escritorio</h4>
        <svg
          class=" w-1/3 h-min"
          width="164"
          height="100"
          viewBox="0 0 164 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 0V100H45.1162V0H0ZM32.7818 91.6516C31.9942 91.6516 31.2243 91.418 30.5694 90.9804C29.9145 90.5429 29.4041 89.9209 29.1026 89.1932C28.8012 88.4656 28.7224 87.6648 28.876 86.8923C29.0297 86.1198 29.409 85.4103 29.9659 84.8533C30.5228 84.2964 31.2324 83.9171 32.0049 83.7634C32.7774 83.6098 33.5781 83.6887 34.3058 83.9901C35.0335 84.2915 35.6554 84.8019 36.093 85.4568C36.5306 86.1117 36.7642 86.8816 36.7642 87.6693C36.7642 88.7254 36.3446 89.7384 35.5978 90.4852C34.8509 91.232 33.838 91.6516 32.7818 91.6516ZM39.2984 23.1699H5.7599V17.3775H39.2948V23.1699H39.2984ZM39.2984 11.585H5.7599V5.79248H39.2948V11.585H39.2984ZM94.689 79.8313H121.153V94.2075H136.265V100H79.5851V94.2075H94.6963V79.8313H94.689ZM51.9695 0V74.0388H163.891V0H51.9658H51.9695ZM158.099 68.2463H57.7583V5.79248H158.099V68.2463Z"
            fill="#E9EFFF"></path>
        </svg>
      </div>
      <ul class="mt-8 sm:mt-5 lineaColorServicio relative flex flex-col gap-5 p-6">
        {
          pcServicios.map((item) => (
            <li class="font-regular sm:text-lg text-base">{item}</li>
          ))
        }
      </ul>
    </article>
  </div>
</section>

<style>
  .overlay_img_servicios {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(34, 34, 34, 0.8) 60%,
      rgba(34, 34, 34, 1) 100%
    );
  }
  .grid_servicios {
    display: grid;
    grid-template-columns: 4fr 3fr;
    /* grid-template-rows: 4fr 6fr; */
    /* grid-template-rows: repeat(6, 1fr); */
    grid-auto-rows: minmax(10px, auto);
    gap: 40px;
  }
  .servicio1 {
    grid-column: 1;
    grid-row: 1/5;
  }
  .servicio2 {
    grid-column: 2;
    grid-row: 3/5;
  }
  .servicio3 {
    grid-column: 2;
    grid-row: 1/3;
  }
  .grid_servicios::after {
    content: "";
    opacity: 0.05;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    left: -40%;
    bottom: -7%;
    background-image: url(./circulos.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    overflow: hidden;
  }
  .servicio3::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 40%;
    top: 50%;
    overflow: hidden;
    background-image: url(./triangulo.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    filter: blur(50px);
  }
  .servicio1::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(148, 255, 229);
    background: radial-gradient(
      circle,
      rgba(148, 255, 229, 0.2) 0%,
      rgba(148, 255, 229, 0) 40%
    );
    width: 150%;
    height: 150%;
    opacity: 0.7;
    border-radius: 50%;
    right: -25%;
    top: 0%;
  }
  .lineaColorServicio::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #94ffe5;
    top: 0;
    left: 0;
  }
</style>
